.cart{
  position: sticky;
  top: 0;
}
.order-summary{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}
.inner-cart{
  font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
letter-spacing: 0.005em;
color: #2A414F;
margin-left: 25px;
}
.grand-total{
  font-size: 25px;
}
.cart-clear-btn{
  border: none;
  padding: 10px 20px;
  background: #FF3030;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.cart-clear{
  text-align: center;
  margin: 30px;
}